[Unit]
Description=NordVPN indicator

[Service]
ExecStart=/bin/sh -c '/usr/bin/python3 $HOME/.local/bin/NordIndicator.py'

[Install]
WantedBy=default.target
